{% extends 'base.html'%}
{% load static%}
{% block content %}
<div class="row" style="background:#003a63">
    <div class="h2 text-center text-warning"><b><u>Our Courses and Fee Details</u></b></div>
    <div class="col-sm-6 pb-2">
        <div class="card">
            <div class="row g-0">
                <div class="col-sm-6 p-4">
                    <img src="{% static 'image/cse.jfif'%}" style="min-height:200px;"
                         class="img-fluid rounded-start w-100" alt="...">
                </div>
                <div class="col-sm-6">
                    <div class="card-body" style="height:350px;">
                        <h5 class="card-title">Course Name:</h5>
                        <div class="card-text" >
                            <b>Computer Science And Engineering</b><br>
                            <b>HOD :</b> Mr.Rajiv Kumar Chaursia<br>
                            <b>Available Seat :</b> 60Seat<br/>
                            <b>Course Duration :</b> 3Years<br/>
                            <b>Fee (Per/Year ) :</b>26010<br/>
                            <b>Description :</b><br/>Computer science is the study of computers and computing as well as
                            their theoretical and practical applications.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 ">
        <div class="card">
            <div class="row g-0">
                <div class="col-sm-6 p-4">
                    <img src="{% static 'image/ee.jpg'%}" style="min-height:200px;"
                         class="img-fluid rounded-start w-100" alt="...">
                </div>
                <div class="col-sm-6" style="height:350px;">
                    <div class="card-body">
                        <h5 class="card-title">Course Name:</h5>
                        <p class="card-text">
                            <b>Electrical Engineering</b><br>
                            <b>HOD :</b> Mr.Abhay Pratap Mall<br>
                            <b>Available Seat :</b> 60Seat<br/>
                            <b>Course Duration :</b> 3Years<br/>
                            <b>Fee (Per/Year ) :</b>26010<br/>
                            <b>Description :</b><br/>Electrical Engineering is that branch of Engineering which deals
                            with the study of application of electricity, electronics and electromagnetism.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 pb-2">
        <div class="card">
            <div class="row g-0">
                <div class="col-sm-6 p-4">
                    <img src="{% static 'image/ce.jfif'%}" style="min-height:200px;"
                         class="img-fluid rounded-start w-100" alt="...">
                </div>
                <div class="col-sm-6" style="height:350px;">
                    <div class="card-body">
                        <h5 class="card-title">Course Name:</h5>
                        <p class="card-text">
                            <b>Civil Engineering</b><br>
                            <b>HOD : </b>Mr.R.R Singh <br>
                            <b>Available Seat :</b> 60Seat<br/>
                            <b>Course Duration :</b> 3Years<br/>
                            <b>Fee (Per/Year ) :</b>26010<br/>
                            <b>Description :</b><br/>Civil engineering is the professional practice of designing and
                            developing infrastructure projects.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="row g-0">
                <div class="col-sm-6 p-4">
                    <img src="{% static 'image/me.jpg'%}" style="min-height:200px;"
                         class="img-fluid rounded-start w-100" alt="...">
                </div>
                <div class="col-sm-6" style="height:350px;">
                    <div class="card-body">
                        <h5 class="card-title">Course Name:</h5>
                        <p class="card-text">
                            <b>Mechanical Engineering</b><br>
                            <b>HOD :</b>Mr.Baijnath Verma <br>
                            <b>Available Seat :</b> 60Seat<br/>
                            <b>Course Duration :</b> 3Years<br/>
                            <b>Fee (Per/Year ) :</b>26010<br/>
                            <b>Description :</b><br/>Mechanical engineering is a four-year BTech programme that teaches
                            the students the basic understanding and knowledge of how heavy tools and machinery work.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}