{%extends 'base.html' %}

{% load static %}
{% block content %}
<div class="row bg-danger" style="min-height:400px;">
    <div class="col-sm-8  text-text text-center fs-4">Our Courses
    <div class="card" style="width: 18rem;">
  <img src="{% static 'image/diploma.jpeg '%}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text"></p>
    <a href="#" class="btn btn-primary">Diploma</a>
  </div>
</div>
    </div>
    <div class="col-sm-4 bg-light"></div>
</div>
{% endblock %}